#nosotros {
  width: 80%;
  height: 74%;
  margin: 0 auto;
  overflow: auto;
}

#foto {
  width: min(160px, 30%);
  height: auto;
  display: block;
  margin: auto;
  border-radius: 20px;
}

#foto:hover {
  border-radius: 30px;
  filter: sepia(50%);
  position: relative;
  top: -10px;
}

p {
  text-indent: 5%;
  text-align: justify;
  padding: 0px 20px;
}
