
<div id="nosotros">
  <img id="foto" src="../../../assets/Imagenes/foto03.jpg">
</div>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione natus optio quod eaque voluptatibus nisi? Aperiam
  molestiae distinctio voluptatem beatae magnam ipsum ab veniam, doloremque dolor labore voluptates, itaque
  consequuntur?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, numquam dolore et, sit quae hic repudiandae incidunt
  perspiciatis eligendi similique iure, atque in. Nihil laudantium similique animi cum amet repellendus!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem iure quod magnam minima ab, quam, alias hic placeat
  praesentium modi libero totam. Asperiores nemo maiores aperiam. Corporis fugit sed vel.
</p>
