#menu {
  background-color: orange;
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

#menu ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding-right: 40px;
}

#menu ul li {
  color: black;
  float: left;
}

#menu ul li.acceso {
  float: right;
}

#menu ul li>* {
  color: inherit;
  padding: 10px;
  display: inline-block;
}

#menu ul li a {
  text-decoration: none;
}

#menu ul li button {
  border: transparent;
  background-color: transparent;
}

#menu ul li *:hover {
  background-color: brown;
  color: white;
}

#menu li span {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#menu::after {
  float: none;
}
