/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  height: 92vh;
  width: 100vw;
  background-color: lightgray;
  color: black;
  margin: 4vh 0vw;
}
