
<div id="contenedorDetalles" class="container d-flex align-items-center justify-content-center">
  <div class="d-block col-12 col-md-6">
    <label class="text-center w-100 mb-3 bg-white">Detalles de la entrada:</label>
    <label class="text-center w-100">Identificador:</label>
    <label class="text-center w-100 fw-bold">{{entrada.id}}</label>
    <label class="text-center w-100">Título:</label>
    <label class="text-center w-100 fw-bold">{{entrada.title | capPalabras}}</label>
  </div>
</div>
